.projects-page {
  background-color: #464c4aa8;
  margin-bottom: 10px;
  padding: 10px;
  color: #ccd4db;
  border-radius: 10px;
}

.filter-buttons {
  margin-bottom: 7px;
  padding: 5px;
  border-radius: 5px;
  /* background-color: #7f806e; */
  background-color: #551a8b;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-buttons > button {
  margin: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  color: #232323;
  transition: 0.4s;
  background-color: #eee4d1;
  font-weight: 500;
}
.filter-buttons > button:hover {
  background-color: #dcd9d4;
}

.filter-buttons > button:active {
  background-color: #e65100;
}

/* projects box ******* */
.projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-title {
  padding: 7px;
  color: #232323;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.project-image {
  width: 100%;
  box-shadow: 0px 4px 7px 2px #6a4949d1;
  box-shadow: 4px 0px 7px 2px #6a4949d1;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

.project-link,
.like-button {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  width: 45px;
  color: #ccd4db;
  background-color: #232323cf;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
}

.project-link:hover {
  color: #232323cf;
  background-color: #ccd4db;
}

.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  border: none;
  width: 100px;
}

.likes {
  margin-left: 5px;
}

.project-card {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  background-color: #55847891;
}

.project-card img {
  width: 100%;
}

.liked,
.active-btn {
  background-color: #551a8b;
}

.hidden {
  display: none;
}
