.projects-title {
  margin-bottom: 15px;
  font-size: 36px;
  color: #ccd4db;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.disabled {
  display: none;
}

/* project's card  *********************************************************/
.html-css-card {
  background-color: #b3cec7a8;
}
.java-script-card {
  background-color: #93a383e3;
}

.html-css-card,
.java-script-card {
  margin: 5px;
  width: 250px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
}

.project-image {
  width: 100%;
  box-shadow: 0px 4px 7px 2px #6a4949d1;
  box-shadow: 4px 0px 7px 2px #6a4949d1;
}

.project-title {
  padding: 7px;
  color: #232323;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.project-description {
  margin: 15px 5px;
}

.project-link {
  margin: 10px 5px;
  padding: 3px;
  display: inline-block;
  width: 70px;
  color: #ccd4db;
  background-color: #5b3979;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
}

.project-link:hover {
  box-shadow: 0 0 5px 1px #d7e413eb;
  color: #d7e413eb;
}

.html-css {
  background-color: #55847891;
}

.java-script {
  background-color: #98a68591;
}

.react {
  background-color: #9485a691;
}

.html-css,
.java-script,
.react {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
}

.html-css-box,
.java-script-box,
.react-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
