.projects-page {
  background-color: #9485a691;
  margin-bottom: 10px;
  padding: 20px;
  color: #ccd4db;
  border-radius: 10px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  margin: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  color: #232323;
  transition: 0.4s;
}

button:hover {
  background-color: #dcd9d4;
}

button:active {
  background-color: #e65100;
}
