.navbar {
  height: 180px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navbar-menus {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.navbar-buttons {
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.navbar img {
  margin-right: 20px;
  border-radius: 10px;
}

.link {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  background-color: #eee4d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link:hover {
  background-color: #dcd9d4;
}

.active {
  color: rgb(35, 35, 35);
  border-radius: 10px;
  background-color: #e65100;
}

.mini-buttons {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.mini-buttons a {
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #eee4d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-name {
  font-size: 48px;
  color: rgb(204, 212, 219);
}

.my-position {
  padding-left: 20px;
  line-height: 8px;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  color: rgb(204, 212, 219);
}

.my-motto {
  margin-top: 32px;
  line-height: 25px;
  color: rgb(204, 212, 219);
}
